<section class="flex flex-col sm:flex-row justify-between gap-4 pt-5">
  <div class="grid place-items-center">
    <img
      src="/src/assets/avatar.webp"
      alt="AlexisDev avatar"
      class="size-32 sm:w-40 sm:h-auto rounded-full ring-2 ring-gray-500"
    />
  </div>
  <div class="flex flex-col gap-4 items-center justify-center">
    <h1 class="text-center text-3xl text-balance font-bold">
      Hey, Soy AlexisDev
    </h1>
    <p class="text-center md:text-lg max-w-md text-pretty">
      Desarrollador Frontend enfocado en crear aplicaciones web limpias y
      modernas.
    </p>
  </div>
</section>
